:root {
    --title-hd: "termina",sans-serif;
    --paragraph: "proxima-nova",sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    /* A cada 1em será considerado 10px */
    font-size: 62.5%;
}

html,
body {
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 1.6rem;
    background: #121214 url(../img/bg.jpg) no-repeat;
    background-size: 100% auto;
    color: #FFFF;
    line-height: 160%;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #121214;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #262629;
}

h2 {
    font: 900 normal 2.1rem/160% var(--title-hd);
}

p {
    font: 400 normal 1.6rem/160% var(--paragraph);
    letter-spacing: -0.18px;
    color: #C1C1C1;
}

ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 1.6rem;
    margin-top: 2.4rem;
}

header {
    margin-top: 3.2rem;
    height: calc(120px + 32px);
}

header div {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #C91842 0%, #5CC2E2 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
    cursor: pointer;
    transition: transform 0.3s;
}

header img{
    border-radius: 50%;
    width: 100%;
    transition: transform 300ms;
}

header div:hover {
    transform: scale(1.1);
}

main {
    max-width: 520px;
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 2.4rem;
}

section {
    background-image: linear-gradient(90deg, #C91842 0%, #5CC2E2 100%);
    border-radius: 1rem;
    padding-top: 0.4rem;
}

section.card-1 img {
    width: 100px;
    height: 150px;
    border-radius: 8px;
}

section div {
    background: #262629;
    border-radius: 8px;
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
}

section ul li {
    cursor: pointer;
    transition: transform 300ms;
}

section ul li:hover {
    transform: scale(1.1);
}